.footer {
  background-color: var(--accent-color);
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin: auto;
}
.footer-info {
  color: var(--light-color);
  margin-bottom: 20px;
}

.footer-info h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer-sosial a + a {
  margin-left: 10px;
}

@media screen and (min-width: 576px) {
  .footer-flex {
    flex-direction: row;
    margin: 0px;
  }
}
