.copyright-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20%;
  background-color: var(--accent-color);
  color: white;
}
.copyright-footer p{
  line-height: 1.5em;
}
.vk{
  width: 110px;
  margin-top: auto;
  margin-bottom: auto;
}


