.form-screen{
  background-color: var(--bg-color);
}

.name-form-wrapper{
  display: flex;
  flex-direction: column;
  
  margin-bottom: 1rem;
}
label+label{
  margin-top: 1rem ;
}

.name-form-wrapper>*{
 flex-basis: 48%;
}
.name-form-wrapper input{
  width: 100%;
  padding: 1rem; 
  border: none;
 }

textarea{
  width: 100%;
  padding: 1rem;
  resize: none;
  border: none;
}
.form-btn{
  display: block;
  margin:  4rem auto 0;
}
::placeholder, [type="submit"]{
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}


@media screen and (min-width: 576px){  
  .question-job{
    padding: 1rem 0;
  }
  .register-form{
    padding:  0;
    }
    .name-form-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    label+label{
      margin-top: 0 ;
    }
  .form-btn{    
    margin:  2rem auto 0;
  }
}
@media screen and (min-width: 768px){
  .form-screen{
    padding: 3rem 0;
  }
  
  .question-job{
    padding: 2rem 0;
  }
}
@media screen and (min-width: 992px){
  .question-job{
    padding: 0.1rem 0;
  }
  
  
}