.wrapper-side-img{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .response-side {
    padding-top: 100%;
    position: relative;
  }

.side-img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }


