.wrapper-side-img{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .response-side {
    padding-top: 100%;
    position: relative;
  }

.side-img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .hover-img {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(11 34 68 / 60%);
    top: 0;
    z-index: 5;
  }

  .wrapper-side-img:hover .hover-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }




