.main-screen{
  background-color: var(--bg-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.wrapper-main-img{
  min-width: 70%;
  width: 80%;
  max-width: 90%;
  margin: 0 auto;
}
.response-wrapper{
  padding-top: 65%;
  position: relative;
}
.main-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}

@media screen and (min-width: 768px){
  .main-screen{
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: left;
  }
}

@media screen and (min-width: 992px){
  .wrapper-main-img{
    max-width: 70%;
  }
}

@media screen and (min-width: 1240px){
  .wrapper-main-img{
    max-width: 60%;
  }
}