.would-you-like{
  background-color: var(--bg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .container-form{
  padding-bottom: 40px;
} */
.container-input{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-input > *{
flex-basis: 48%;
}
textarea{
  resize: none;
  width:100%;
  margin-top:15px;
}
.btn{
  display: block;
  margin: auto;
  margin-top: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}